html {
    font-size: 16px;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: white;
}

.no-scroll {
    overflow: hidden;
}

strong {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding-top: 4rem;
}

h1 {
    font-family: futura-pt, sans-serif;
    font-size: 3rem;
    font-weight: 700;

    margin-bottom: 2rem;
}

h2 {
    font-family: futura-pt, sans-serif;
    font-weight: 500;

    margin-bottom: 2rem;

    color: #222222;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-family: futura-pt, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.splash {
    text-align: center;
    line-height: 1.2;
    color: #E6DF6E;
}

.splash h1 {
    font-weight: 500;
}

a {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    color: inherit;
    text-decoration: none;
}

nav {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
    border-bottom: .2rem solid #E6DF6E;
    position: fixed;
    top: 0;
    height: 4rem;
    width: 100%;

    font-size: 2rem;
    color: #646153;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 999;
}

nav .title {
    height: 2rem;
    display: flex;
}

nav .title img {
    height: 100%;
}

nav .title h1 {
    color: #222222;
    margin: 0 0 0 .4rem;
    font-weight: 500;
    font-size: 1.8rem;
}

nav .actions {
    display: flex;
}

nav .actions a {
    text-decoration: none;
    color: #222222;
    text-transform: uppercase;
    font-size: 1.3rem;
}

nav .actions a:not(:last-child) {
    margin-right: 1.6rem;
}

section {
    height: calc(100vh - 2rem);
    min-height: 35rem;

    display: flex;
    position: relative;
}

section.call-out {
    height: calc(50vh - 1rem);
    min-height: 17.5rem;

    background-color: #E6DF6E;

    align-items: center;
    justify-content: center;
}

section.call-out span {
    margin: 0 4rem;
    padding: 2rem;
    border: .6rem solid rgba(255, 255, 255, 0.6);

    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
    color: #222222;
}

section.overlay {
    background-color: rgba(59, 79, 114, .4);
}

article {
    flex: 2;

    padding: 0 4rem;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

article.top {
    justify-content: flex-start;
    padding-top: 4rem;
}

article.top p {
    text-align: center;
}

article h1 {
    text-align: center;
}

article p {
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.call-to-action {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    color: #222222;
}

.stack {
    display: flex;
    flex-direction: column;

    width: calc(50vh - 1rem);
    min-width: 18.5rem;
}

ul.display {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 50vh;

    display: flex;
    color: white;
}

ul.display h3 {
    text-align: center;
    line-height: 1.3;
}

ul.display > li {
    background-color: rgba(170, 206, 195, .6);

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 1.5rem;
    line-height: 1.8;
}

ul.display > li:not(:last-child) {
    margin-right: .2rem;
}

#banner {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.overlay::after {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    content: '';
    height: 100%;
    width: 100%;

    z-index: -1;
    position: absolute;
}

#banner::after {
    background-image: url(images/ireland.jpg);
}

#about {
    background-color: #AACEC3;
}

#services::after {
    background-image: url(images/giants-causeway.jpg);
}

#tyson, #kristina {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#kristina {
    background-image: url("images/kristina.jpg");
}

#tyson {
    background-image: url("images/tyson.jpg");
}

footer {
    background-color: #222222;
    color: white;
    padding: 1.5rem;
}

.copyright {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-size: .8rem;
    color: white;
    text-align: center;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: rgba(59, 79, 114, .75);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;

    height: 0;
    opacity: 0;
    transition: opacity .5s;
}

.modal-backdrop.show {
    height: 100%;
    opacity: 1;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal {
    background-color: white;
    border-radius: .3rem;

    height: 75vh;
    width: 60vw;
    position: relative;

    overflow-y: scroll;

    padding: 2rem;

    color: #222222;
}

.modal .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.modal .close:before {
    content: "✖";
    pointer-events: none;
}

.modal h2 {
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: none;
    text-align: inherit;
    color: #E6DF6E;

    margin-bottom: 1rem;
}

.modal p {
    margin-bottom: 1.2rem;
    color: #666666;
}

label, input {
    display: block;
}

label {
    margin-left: .6rem;
    margin-bottom: .2rem;
}

input, textarea {
    margin-bottom: .7rem;
}

input, textarea {
    width: 100%;
    font-size: 1rem;

    border-radius: .2rem;
    border: 2px solid #E6DF6E;
    padding: .4rem .6rem;
}

input:focus, textarea:focus, button:focus {
    outline: none;
    border-color: #222222;
}

textarea {
    resize: none;
}

button {
    font-size: 1.2rem;
    color: white;
    background-color: #E6DF6E;

    border: 2px solid #E6DF6E;
    padding: .7rem .9rem;
    border-radius: .2rem;
    margin-top: 1rem;

    cursor: pointer;
}

.waiting .content, .waiting .close, .done .content {
    display: none;
}

.waiting .modal, .done .modal {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.waiting .modal:before, .done .modal:before {
    content: "";
    height: 160px;
    width: 160px;
}

.done .modal:after {
    content: "We'll be in touch!";
    font-size: 2rem;
    margin-top: 1rem;
    color: #E6DF6E;
}

.waiting .modal:before {
    background-image: url('data:image/svg+xml;utf8,<svg width="160px" height="160px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ripple"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><g> <animate attributeName="opacity" dur="2s" repeatCount="indefinite" begin="0s" keyTimes="0;0.33;1" values="1;1;0"></animate><circle cx="50" cy="50" r="40" stroke="#222222" fill="none" stroke-width="6" stroke-linecap="round"><animate attributeName="r" dur="2s" repeatCount="indefinite" begin="0s" keyTimes="0;0.33;1" values="0;22;44"></animate></circle></g><g><animate attributeName="opacity" dur="2s" repeatCount="indefinite" begin="1s" keyTimes="0;0.33;1" values="1;1;0"></animate><circle cx="50" cy="50" r="40" stroke="#e6df6e" fill="none" stroke-width="6" stroke-linecap="round"><animate attributeName="r" dur="2s" repeatCount="indefinite" begin="1s" keyTimes="0;0.33;1" values="0;22;44"></animate></circle></g></svg>');
}

.done .modal:before {
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 50 50" width="160px" height="160px" xmlns="http://www.w3.org/2000/svg"> <g transform="translate(0 -1002.4)"> <g fill="#E6DF6E"> <path d="m25 1003.6c-13.112 0-23.781 10.667-23.781 23.779 1.49e-5 13.112 10.669 23.781 23.781 23.781s23.781-10.669 23.781-23.781c-1.5e-5 -13.112-10.669-23.779-23.781-23.779zm0 3.6114c11.16 0 20.168 9.0078 20.168 20.168-1.3e-5 11.16-9.0078 20.17-20.168 20.17-11.16 1e-4 -20.168-9.0097-20.168-20.17 1.27e-5 -11.16 9.0078-20.168 20.168-20.168z" color="#000000" color-rendering="auto" image-rendering="auto" shape-rendering="auto" solid-color="#000000" style="block-progression:tb;isolation:auto;mix-blend-mode:normal;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-transform:none;white-space:normal"/> <g transform="matrix(.61243 0 0 .61243 7.0239 405.45)"> <path transform="matrix(.91761 0 0 .91761 2.0598 1003)" d="m10.641 5.4531c-0.59364 0-1.1877 0.22872-1.6426 0.68359l-2.8613 2.8613c-0.90975 0.90975-0.90975 2.3735 0 3.2832l12.719 12.719 6.1445 6.1445 6.1445-6.1445 22.204-22.204c0.90975-0.90975 0.90975-2.3735 0-3.2832l-2.8613-2.8613c-0.90975-0.90975-2.3735-0.90975-3.2832 0l-22.204 22.204-12.719-12.719c-0.45487-0.45487-1.047-0.68359-1.6406-0.68359z" fill="#E6DF6E"/> </g> </g> </g> </svg>');
}

@media (max-width: 499px) {
    html {
        font-size: 14px;
    }

    #banner {
        padding: 0 2rem;
    }

    ul.display {
        bottom: 1rem;
        flex-direction: column;
        padding: 2rem;
    }

    ul.display > li:not(:last-child) {
        margin-left: 0;
        margin-bottom: .2rem;
    }

    ul.display > li ul {
        display: none;
    }

    .stack {
        display: none;
    }

    .modal {
        height: 90vh;
        width: 90vw;
    }
}