html {
  font-size: 16px;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  color: white;
}

strong {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding-top: 4rem;
}

h1 {
  font-size: 2.5rem;
  font-family: futura-pt, sans-serif;
  font-weight: 500;


  margin-bottom: 2rem;
}

.splash {
  text-align: center;
  line-height: 1.2;
  color: #E6DF6E;
}

a {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

h2 {
  color: black;

  font-family: futura-pt, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 2rem;
}

nav {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
  border-bottom: .2rem solid #E6DF6E;
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100%;

  font-size: 2rem;
  color: #646153;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 999;
}

nav img.logo {
  height: 2rem;
}

nav .actions {
  display: flex;
}

nav .actions a {
  text-decoration: none;
  color: #222222;
  /*color: #646153;*/
  text-transform: uppercase;
  font-size: 1.3rem;
}

nav .actions a:not(:last-child) {
  margin-right: 1.6rem;
}

section {
  height: calc(100vh - 2rem);
  min-height: 35rem;

  display: flex;
  position: relative;
}

section.call-out {
  height: calc(50vh - 1rem);
  min-height: 17.5rem;

  background-color: #E6DF6E;

  align-items: center;
  justify-content: center;
}

section.call-out span {
  margin: 0 4rem;
  padding: 2rem;
  border: .6rem solid rgba(255,255,255,0.6);

  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  color: #222222;
}

section.overlay {
  background-color: rgba(59, 79, 114, .4);
}

article {
  flex: 2;

  padding: 0 4rem;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

article.top {
  justify-content: flex-start;
  padding-top: 4rem
}

article p {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.call-to-action {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  color: #222222;
}

.stack {
  margin-top: -2rem;

  display: flex;
  flex-direction: column;

  width: calc(50vh);
  min-width: 18.5rem;
}

ul.display {
  position: absolute;
  bottom: 4rem;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem;

  background-color: rgba(0, 0, 0, .5);
  color: white;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.3;
}

#banner {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.overlay::after {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  content: '';
  height: 100%;
  width: 100%;

  z-index: -1;
  position: absolute;
}

#banner::after {
  background-image: url(images/ireland.jpg);
}

#about {
  background-color: #AACEC3;
}

#services::after {
  background-image: url(images/giants-causeway.jpg);
}

#tyson, #kristina {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#kristina {
  background-image: url("images/kristina.jpg");
}

#tyson {
  background-image: url("images/tyson.jpg");
}

footer {
  background-color: #222222;
  color: white;
  padding: 1.5rem;
}

.copyright {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-size: .8rem;
  color: white;
  text-align: center;
}

@media (max-width: 499px) {
  html {
    font-size: 14px;
  }

  #banner {
    padding: 0 2rem;
  }

  ul.display {
    bottom: 2rem;
    flex-direction: column;
    padding: 2rem;
  }

  ul.display li:not(:last-child) {
    margin-bottom: 2rem;
  }

  .stack {
    display: none;
  }
}
